.char {
    margin: 2rem;
}

.bold {
    font-weight: 600;
}
.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}

.char.card {
    position: relative;
    border-radius: 4px;
    transition: all 0.2s;
    max-width: 300px;
}

.char.card:hover {
    transform: scale(1.2);
}
.char-name {
    margin: 0 0 0 0.5rem;
}

.char-info {
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.char-info > p {
    margin: 0;
}

.log-btn:hover {
    background-color: aliceblue;
}

.log-btn {
    background-color: white;
    color: rgb(9, 109, 134);
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    bottom: 55px;
}

