.char {
    margin: 2rem;
}

.bold {
    font-weight: 600;
}
.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}

.char.card {
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.2s;
    max-width: 300px;
}

.char.card:hover {
    transform: scale(1.2);
}
.char-name {
    margin: 0 0 0 0;
}

.char-info {
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.char-info > p {
    margin: 0;
}

