#search {
    border: 1px solid #444;
    border-radius: 5px;
    height: 24px;
    padding-right: 25px;
}



.searchbar {
    margin: 1rem;
}

.search-btn {
    border-radius: 5px;
    border-left: 1px solid #333;
    height: 24px;
    width: 25px;
    border: none;
    margin-left: -27px;
}